:root{
    /* COLORS */
    --COLOR-PRIMARY:#ee5057;
    --COLOR-SECONDARY:#111;
    --COLOR-TEXT:#898989;
    --COLOR-LIGHT:#f4f4f4;

    /* FONTS */
    --font-primary:'Open Sans', Helvetica, Arial, sans-serif;
    --font-bold:700;
    --font-light:400;
    --font-size-text:13px;
    --font-size-title:20px;
    --font-size-section-title:48px;
    /* SIZE */

    --size-primary:25px;
    --size-double:calc(var(--size-primary) * 2);
    --size-half:calc(var(--size-primary) / 2);
    --margin-primary:var(--size-primary);
    --padding-primary:var(--size-primary  );
    --height-primary:120PX
}
a{
    color: inherit;
    text-decoration: none;
}
/* START-MIN-MENU  */
    @media(min-width:768px){
        .navbar{
            height:var(--height-primary);
        }
        .navbar .level-nav-link.nav-link{
            padding:  var(--size-double)var(--padding-primary);
            color: var(--COLOR-TEXT);
        }
    }
    .logo-text{
        color: var(--COLOR-TEXT);
    }
    .navbar .level-nav-link.nav-link{
        padding-right:var(--padding-primary);
        padding-left:var(--padding-primary);
        color: var(--COLOR-TEXT);
    }

.navbar .level-nav-link.nav-link.active,
.navbar .level-nav-link.nav-link:hover{
    background-color: var(--COLOR-PRIMARY);
    color: #fff;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand h1{
    margin: 0;
}
/* START-SEARCH-FORM  */
.hero{
    background:url(/Asetse/img/bg-img-1.jpg)no-repeat center center /cover ;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serch-form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:var(--size-half);
    padding: var(--padding-primary) var(--size-double);
}
.form-group{
    flex: 1 25%;
    position: relative;
    display: flex;
    align-items: center;
}
.form-group .form-control{
    border-radius: 0;
    padding: var(--size-half);
    padding-left: var(--size-double);
}
.form-group>i{
    color: var(--COLOR-PRIMARY);
    font-size: var(--font-size-title);
    position: absolute;
    left:var(--size-half);
}
.btn-primary{
    background-color: var(--COLOR-PRIMARY);
    border: none;
    border-radius: 0;
    width: 100%;
    padding: var(--size-half);
    text-transform: uppercase;
    font-weight: var(--font-bold);
}
.btn-primary:hover{
    background-color: #c3343d;
}
.need-help{
    background-color: #fff;
    font-size: .8rem;
    padding: 0 var(--size-double) var(--size-half);
}
/* START-SUBSCRIBE  */
section{
    padding: var(--size-double) 0;
    position: relative;
}
.section-color{
    background-color: var(--COLOR-PRIMARY);
    color: #fff;
}
.section-title{font-size: var(--font-size-section-title);}
.section-suptitle{
    font-size: var(--font-size-title);
}
.btn-white{
    border: 2px solid white;
    color: inherit;
    padding: var(--size-half) var(--padding-primary);
}
.btn-white:hover{
    background-color: #fff;
    color: var(--COLOR-PRIMARY);
}
/* START-SERVICES  */
.section-down-arrow{
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--height-primary);
}
.article{
    text-align: center;
    color: var(--COLOR-PRIMARY);
    margin-top: var(--size-double);
    padding: var(--padding-primary);
    transition: all .2s ease-in;
}
.article:hover{
    scale: 1.1;
    box-shadow: 0 0 7PX 0 var(--COLOR-TEXT);
}
.article .article-icon{
    font-size: 4rem;
    margin: var(--size-primary);
}
.btn-fit{
    width: max-content;
}

/* SLIDER */
.section-gray{
    background-color: var(--COLOR-LIGHT);
}
.level-slider-item{
    background-color: white;
    margin-right:var(--size-half);
}
.level-slider img{
    width: 100%;
}
.level-slider-item-container{
    padding: var(--padding-primary);
}
.level-slider-item h3{
    font-size: var(--font-size-title);
    color: var(--COLOR-PRIMARY);
}
.level-slider-item p{
    font-size: var(--font-size-text);
    color: var(--COLOR-TEXT);
}
/* START-PLACES */
    .star-places{
        background-color: #fff;
    }
    .star-places-header{
        background-color: var(--COLOR-PRIMARY);
        color: #fff;
        padding: var(--padding-primary);
    }
    .star-places-header h3{
        font-size: var(--font-size-title);
        font-weight: var(--font-light);
    }
    .star-places-header p{
        font-size: var(--font-size-text);
        margin: 0;
    }
    .star-places-body{
        padding: var(--padding-primary);
    }
    .star-places-body a{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-primary);
        background-color: var(--COLOR-LIGHT);
        margin-bottom: -8px;
        color: var(--COLOR-SECONDARY);
        transition: all .2s ease-in;
    }
    .star-places-body a:hover{
        background-color: #c1c1c1;
    }
    .star-places-body h4{
        font-size: var(--font-size-title);
        text-transform: uppercase;
    }

    /* VIDEO */

    .video-overlay{
        position: absolute;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
        height: 515px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video-container{
        overflow: hidden;
        width: 100%;
        height: 515px;
        position: relative;
    }
    .video-container video{
        width: 100%;
    }
    .video-control-play,
    .video-control-pause{
        color: #fff;
        font-size: var(--font-size-section-title);
        cursor: pointer;
    }
    .video-control-pause{
        display: none;
    }

    /* CONTACT */
    .contact-form{
        margin: 0 auto;
    }
    .contact-form .form-control{
        background-color: var(--COLOR-LIGHT);
        border: none;
        margin-bottom: var(--size-half);
    }
    .contact-form .form-group i{
        top: var(--size-half);
    }
    /* FOOTER */
    .footer{
        background-color: var(--COLOR-SECONDARY);
    }
    .footer p{
        padding: var(--padding-primary) 0;
        color: #fff;
        text-align: center;
        margin-bottom: 0;
}
    .footer p>a{
    color: var(--COLOR-PRIMARY);
}
.footer p>a:hover{
    color: rgb(69, 69, 209) ;
}